<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Portifólio
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Portifólio</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">

    <ion-card color="warning">
      <img alt="foto-perfil" src="/assets/img/foto-perfil.png" />
      <ion-card-header>
        <ion-card-title>Henrique Lima </ion-card-title>
        <ion-card-subtitle>Curso: Análise e desenvolvimento de sistemas</ion-card-subtitle>
        <ion-card-subtitle>Modulo: Mobile</ion-card-subtitle>
        <ion-card-subtitle>Código: GPAS0015</ion-card-subtitle>
      </ion-card-header>
      
      <ion-card-content>
        
      </ion-card-content>
    </ion-card>
    <div class="logo-rede-Sociais">
      <ion-icon name="logo-linkedin"></ion-icon>
      <ion-icon name="logo-github"></ion-icon>
      <ion-icon name="logo-whatsapp"></ion-icon>
    </div>
  
  </div>
</ion-content>




